@import "var.scss";
.box {
  display: flex;
  justify-content: center;
  .inner {
    padding: 40px;
  }
}

.section_content {
  margin-top: 70px;
}

#header {
  max-width: $pageWidth;
  margin: 0 auto;
  .header_wrap {
    padding: 20px 0px;
    position: relative;
    .h_logo {
      a {
        color: $fontBasic;
        font-size: 21px;
        img {
          width: 30px;
        }
      }
    } //h_logo
    .gnb {
      display: flex;
      position: absolute;
      right: 0;
      color: #111;
      right: 40px;
      top: 22px;
      li {
        padding: 10px 20px;
        a {
          color: $fontBasic;
          font-size: 18px;
          font-weight: 400;
          &:hover {
            color: $fontPrimary;
          }
        }
      }
    }
  } //header_wrap
}
//header

//main start
.container {
  overflow: hidden;
  min-width: $pageWidth;
  max-width: 2560px;
  margin: 0 auto;
  #mainbanner {
    min-width: $pageWidth;
    height: 809px;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    .bold_line {
      position: absolute;
      top: 342px;
      left: 0;
      width: 50%;
      height: 100px;
      background-color: #ffff66;
      transform: skew(0, -15deg);
    }
    .bold_line2 {
      top: 458px;
      right: 0;
      left: auto;
      background-color: $fontPrimary;
      transform: skew(0, 15deg);
    }
    .main_logo {
      padding: 20px 20px 20px;
      display: flex;
      li {
        padding: 0px 15px;
        img {
          width: 25px;
          color: $fontPrimary;
        }
      }
    }
    .box {
      .inner {
        .contents {
          margin: 100px 0;
          .textWrap {
            span {
              display: inline-block;
              font-size: 80px;
              font-weight: bold;
            }
            .line {
              width: 100%;
              display: flex;
              .left {
                width: 50%;
                transform: skew(0, -15deg);
                color: $fontPrimary;
                overflow: hidden;
                .spanWrap {
                  width: 100%;
                  text-align: center;
                  transform: translate(50%);
                }
              }
              .right {
                width: 50%;
                transform: skew(0, 15deg);
                color: #ffff66;
                overflow: hidden;
                .spanWrap {
                  width: 100%;
                  text-align: center;
                  transform: translate(-50%);
                }
              }
            }
          }
        }
      }
    } //box
  }
  //mainbanner
}
//main

.content {
  max-width: $pageWidth;
  margin: 0 auto;
  #about {
    .box {
      .inner {
        padding: 20px 40px;
        .introduce {
          color: #777;
        }
        .items {
          display: flex;
          margin-top: 20px;
          .item {
            padding-right: 10px;
          }
        }
      } //inner
    } //box
  } //#about
  #portfolio {
    padding-top: 100px;
    margin-bottom: 150px;
    .section_content {
      .box {
        .inner {
          .po_title {
            font-size: 25px;
            color: #333;
            margin-bottom: 25px;
            .plot {
              font-size: 14px;
              color: #888;
              margin-left: 15px;
              font-weight: 300;
            }
          }
          p {
            font-size: 17px;
            font-weight: 400;
            color: #777;
            margin-bottom: 15px;
            span {
              font-weight: 600;
              font-size: 18px;
              padding: 0 10px;
              color: #333;
            }
          } //p
          .color_chip {
            display: flex;
            margin-top: 30px;
            li {
              width: 50px;
              height: 50px;
              border-radius: 100%;
              margin-right: 15px;
            }
          }
          .view {
            border: 1px solid #d3d3d3;
            padding: 15px 50px;
            background-color: #fff;
            margin-top: 30px;
            margin-right: 10px;
          }
          img {
            width: 550px;
          }
        } //inner
      }
    }
  }
}

.swiper_inner {
  text-align: left;
}
.section_title_wrap {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  .section_title {
    font-size: 55px;
    color: $fontBasic;
    font-weight: 500;
  }
  p {
    color: #777;
  }
}

.first_co {
  li {
    &:first-child {
      background: #251b19;
    }
    &:nth-of-type(2) {
      background: rgba(176, 112, 64, 0.9);
    }
    &:nth-of-type(3) {
      background: #9f948a;
    }
  }
} //first
.second {
  .second_co {
    li {
      &:first-child {
        background: #053863;
      }
      &:nth-of-type(2) {
        background: #666;
      }
      &:nth-of-type(3) {
        background: #333;
      }
    }
  }
} //second
.third {
  .third_co {
    li {
      &:first-child {
        background: #274135;
      }
      &:nth-of-type(2) {
        background: #5e9b50;
      }
      &:nth-of-type(3) {
        background: #f9d3db;
      }
    }
  }
} //third
.fourth {
  .fourth_co {
    li {
      &:first-child {
        background: #00aa91;
      }
      &:nth-of-type(2) {
        background: #333;
      }
      &:nth-of-type(3) {
        background: #888;
      }
    }
  }
} //fourth
.fifth {
  .fifth_co {
    li {
      &:first-child {
        background: #0890c0;
      }
      &:nth-of-type(2) {
        background: #333;
      }
      &:nth-of-type(3) {
        background: #666;
      }
    }
  }
} //fifth

footer {
  width: 100%;
  background: $fontPrimary;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    padding: 50px;
    color: #fff;
  }
}

/* 
section#myskill {
  background: url("../img/bg/my_skill_bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section#myskill .row .column {
  margin-top: -50px;
  opacity: 1;
}

section .row .column .inner.none_type {
  border: 0;
  box-shadow: none;
  background: none;
}

section .row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 1410px;
  padding: 120px 0;
  box-sizing: border-box;
  z-index: 500;
}
 */
/*progress bar style*/
/* .progressbar .items_wrap {
  overflow: hidden;
  color: white;
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0.3);
}

.progressbar .items_wrap:last-child {
  margin: 0;
}

.progressbar .items {
  overflow: hidden;
  box-sizing: border-box;
  padding: 6px 10px;
  border-radius: 0 5px 5px 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.5);
  width: 0;
  opacity: 1;
  transition: 1s;
}

.progressbar .items .title {
  float: left;
  font-weight: 700;
  padding: 6px 0;
}

.progressbar .items .percent {
  float: right;
  padding: 6px 0;
}

.progressbar .items_wrap:nth-of-type(1) .items {
  background: #ebaf17;
}

.progressbar .items_wrap:nth-of-type(2) .items {
  background: #edd118;
}

.progressbar .items_wrap:nth-of-type(3) .items {
  background: #dfed18;
}

.progressbar .items_wrap:nth-of-type(4) .items {
  background: #abeb17;
}

section.active .row .column .inner.progressbar .items_wrap:nth-of-type(1) .items {
  width: 60%;
}

section.active .row .column .inner.progressbar .items_wrap:nth-of-type(2) .items {
  width: 60%;
}

section.active .row .column .inner.progressbar .items_wrap:nth-of-type(3) .items {
  width: 20%;
}

section.active .row .column .inner.progressbar .items_wrap:nth-of-type(4) .items {
  width: 20%;
}

section .row .column .inner {
  text-align: center;
}
 */
//section_title_wrap
